// banner //

.banner {
    h1 {
        font-size: 50px;
    }
    .review_banner {
        align-items: center;
        @include respond(tab-land) {
            flex-direction: column;
            gap: 30px;
        }
        .featured-review {
            border-radius: 30px;
            position: absolute;
            left: 45%;
            background: #B3E3F2;
            padding: 40px;

            @include respond(tab-land) {
                position: relative;
                left: 0;
            }

            @include respond(phone) {
                border-radius: 20px;
                padding:20px;
            }

            p {
                color: #021C1A !important;
                font-weight: 300;
                margin-bottom: 10px;
                max-width: 100%;

                &.notable {
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 3px;
                }

                &.reviewer {
                    font-weight: bold;
                    font-size: 14px;
                    margin-top: 30px;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;

                }

                a {
                    color:#181A21 !important;
                }
            }
        }

        @include respond(tab-port) {
            row-gap: 30px;
        }
    }

    .column-66,
    .column-50 {
        @include respond(tab-land) {
            width: 100% !important;
        }
        &.featured {
            border-radius: 30px;
            padding: 40px 115px 40px 40px;
            @include respond(tab-land) {
                padding: 40px;
            }
            @include respond(phone) {
                border-radius: 20px;
            }
            
            @include respond(phone) {
                padding:30px;
            }

            p {
                a {
                    color:#181A21 !important;
                }
                
            }
        }
    }

    p#breadcrumbs {
        padding-top: 0;
        font-size: 14px;
        color:$blk !important;
        font-weight: 300;

        @include respond (tab-land) {
            line-height: 200%;
            padding-bottom: 0;
        }

        .separator {
            margin: 0 5px 0 8px;
        }
    }

    @include contact-block;

    h1 {
        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 35px;
        }
    }
    .banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            -o-object-position: right bottom;
               object-position: right bottom;

            @include respond(tab-land) {
                -o-object-position: center top;
                   object-position: center top;
            }
        }
    }
}

// sidebar //

.sidebar-block {

    p.sidebar-more {
        a {
            text-transform:capitalize;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: $blue;
            text-decoration: underline;
        }

        span {
            color: $blue;
        }
    }

    .sidebar-header {
        font-size: 16px;
        background: #B3E3F2;
        letter-spacing: 1px;
    }
    
    .testimonial-block {
        border-radius: 30px;

        @include respond(tab-land) {
            border-radius: 20px;
        }

        p {
            letter-spacing: normal;
            text-transform: capitalize;
        }
    }
}

// awards //

.awards {
    padding: 0;
    position: relative;
    margin-top: 60px;

    &::before {
        position: absolute;
        content: "OUR AWARDS AND AFFILIATIONS";
        left: 50%;
        transform: translateX(-50%);
        top: -40px;
        font-family: $sans;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
    }
    
    .container { 
        .wrapper {
            padding: 30px;       
            border-radius: 30px;
        }

        .columns {
            justify-content: center;
            
            .column-full {
                justify-content: center;
                align-items: center;

                @include respond(phone) {
                    flex-direction: column;
                }

                .award-img {
                    max-height: 100px;
                    max-width: 250px;
                    width: 100%;
                    height: auto;
                    margin:10px 20px;

                    @include respond(phone) {
                        margin:20px auto;
                    }
                }
            }
        }
    }
}

#pre-footer {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top center !important;
    padding-bottom: 80px;

    h2, h3, h4, p, ul li, ol li {
        color:$dkblue;
    }

    .columns {
        padding-top: 5rem;

        .column-75 {
            background: white;
            border-radius: 30px;
            padding: 30px;
        }
    }

    h2 {
        font-size: 45px;
        letter-spacing: 2px;

        @include respond(phone) {
            font-size: 35px;
        }
    }

    p.subhead {
        font-size: 22px;
        margin: 20px 0;
        font-weight: bold;
        line-height: 125%;
        color: $blue;
        font-family: 'Inter';
        font-style: normal;

        @include respond(phone) {
            font-size: 18px;
        }
    }

    .pre-footer-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;

        .contact-block-left {
            margin-right: 30px;
        }

        .contact-block-right {
            p {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                
                a {
                    color:inherit;
                    text-transform: capitalize;
                    letter-spacing: 0.5px;
                    font-weight: 600;
                    font-size: 15px;
                }

                span.icon-right-arrow {
                    margin-left: 10px;
                    font-size: 24px;
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
}


#testimonial {
    padding: 0;

    .columns {
        padding: 50px;
        background: white;
        border-radius: 30px;

        @include respond (phone) {
            padding: 30px;
        }
    }

    p.testimonial-callout {
        font-size: 40px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        line-height: 115%;

        @include respond (phone) {
            font-size: 28px;
        }
    }

    .author {
        display: flex;
        align-items: center;

        img {
            max-height: 50px;

            @include respond (phone) {
                max-height: 40px;
            }
        }

        .separator {
            width: 1px;
            height: 40px;
            margin: 0 20px;
            background: $blk;
            border: none;
        }

        p {
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }
}

@include awards-slider;