
.gform_wrapper {
    background: white !important;
    border-radius: 30px;

    @include respond(tab-port) {
        border-radius: 20px;
    }

    .gfield {
        input {
            padding:12px !important;
        }
    }

    label {
        color:$blk;
        text-transform: none !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        font-family: 'Inter';
        padding-bottom: 8px;
    }

    .gform_footer  {
        input[type="submit"] {
            background: $blue !important;
            color: white;
            font-weight: 400 !important;
    
            &:hover {
                background: #B3E3F2 !important;
                color: #181A21;
            }
        }
    }
}