/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$dkblue: #293c49;
$blue: #2375B3;
$green: #80be41;
$ltgrey: #F2F2F2;
$red:#e63946;
$ltivory:#F8F5F2;

$link-transition-speed: .15s;
$trans: 0.2s linear;

@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter", "sans-serif";
    src: url('../fonts/Inter_18pt-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

// Typography
$sans: 'Inter', sans-serif;
$serif: 'Playfair Display', serif;
$icomoon: 'Icomoon';

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
